# Activation du moteur de réécriture du serveur.
RewriteEngine On

# Réécriture de la règle,
# Que la requête du client soit redirigée vers le fichier index.php du dossier public.
RewriteRule ^(.*)$ public/index.php [L]